<ul>
    <li>
        <a [routerLink]='["/home"]'>
            Home
        </a>
    </li>
    <li>
        <a [routerLink]='["/search"]'>
            Search
        </a>
    </li>
    <li>
        <a [routerLink]='["/upload"]'>
            Upload Image
        </a>
    </li>
    <li>
        <a [routerLink]='["/about-us"]'>
            About Us
        </a>
    </li>
    <li>
        <a [routerLink]='["/login"]'>
            Sign In
        </a>
    </li>
    <li>
        <a [routerLink]='["/register"]'>
            Sign Up
        </a>
    </li>
</ul>