<h1 class="header-login">
    Image Tag Log In
</h1>
<div class="center-screen">
    <form [formGroup]="loginForm">
        <div class="form-group">
            <label>
                User Name<br>
                <input name="userName" style='width: 240px;' type="text" class="form-control" formControlName="userName">
            </label>
            <div class="error-msg" *ngIf="!(loginForm?.get('userName')?.valid) && loginForm?.get('userName')?.touched">
                <strong>Please enter a valid name that is more than 4 and less than 24 characters!</strong>
            </div>
        </div>

        <div class="space"></div>

        <div class="form-group">
            <label>
                Password<br>
                <input name="password" style='width: 240px;' type='password' class="form-control" formControlName='password'><br>
            </label>
            <div class="error-msg" *ngIf="!(loginForm?.get('password')?.valid) && loginForm?.get('password')?.touched">
                <strong>Password includes more than 8 characters!</strong>
            </div>
        </div>
    </form>

    <div class="space"></div>

    <button round outline color='dark' style='width: 240px;' [disabled]="!(loginForm?.valid)" (click)='login(loginForm)'>
        Sign In
    </button>

    <div class="space"></div>
    <p *ngIf="!loginChecker" class="error-msg">
        <strong>
            The user name or password is not correct!
            Please try again.<br>
            {{ msg }}
        </strong>
    </p>

    <p>Don't have an account?
        <b (click)='signUp()'>Create one</b>
    </p>

    <div class="space"></div>
    <p *ngIf="loading" class="load-msg">
        Authenticating...
    </p>
    <!-- <p>form: {{ loginForm?.value | json }}</p> -->
</div>